* {
    margin: 0;
    padding: 0;
}

.mainChild {
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
    min-width: 300px;
    min-height: 400px;
    border-radius: 30px;
    box-shadow: 0 0 0 2px beige;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}